/* -------------------------------- 

Roboto Medium

-------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Roboto:500);
/* -------------------------------- 

Button Defaults

-------------------------------- */
.pink-btn, .red-btn, .deepOrange-btn, .orange-btn, .amber-btn, .yellow-btn, .lime-btn, .lightGreen-btn, .green-btn, .teal-btn, .cyan-btn, .lightBlue-btn, .blue-btn, .indigo-btn, .deepPurple-btn, .purple-btn, .grey-btn, .blueGrey-btn {
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 0 16px;
  min-width: 88px;
  height: 36px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, Noto, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  transition: all .5s ease-out; }

.pink-btn-lite, .red-btn-lite, .deepOrange-btn-lite, .orange-btn-lite, .amber-btn-lite, .yellow-btn-lite, .lime-btn-lite, .lightGreen-btn-lite, .green-btn-lite, .teal-btn-lite, .cyan-btn-lite, .lightBlue-btn-lite, .blue-btn-lite, .indigo-btn-lite, .deepPurple-btn-lite, .purple-btn-lite, .grey-btn-lite, .blueGrey-btn-lite {
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 0 16px;
  min-width: 88px;
  height: 36px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, Noto, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  background-color: #fff;
  transition: all .5s ease-out; }
  .pink-btn-lite:hover, .red-btn-lite:hover, .deepOrange-btn-lite:hover, .orange-btn-lite:hover, .amber-btn-lite:hover, .yellow-btn-lite:hover, .lime-btn-lite:hover, .lightGreen-btn-lite:hover, .green-btn-lite:hover, .teal-btn-lite:hover, .cyan-btn-lite:hover, .lightBlue-btn-lite:hover, .blue-btn-lite:hover, .indigo-btn-lite:hover, .deepPurple-btn-lite:hover, .purple-btn-lite:hover, .grey-btn-lite:hover, .blueGrey-btn-lite:hover {
    background-color: #F5F5F5; }
  .pink-btn-lite:focus, .red-btn-lite:focus, .deepOrange-btn-lite:focus, .orange-btn-lite:focus, .amber-btn-lite:focus, .yellow-btn-lite:focus, .lime-btn-lite:focus, .lightGreen-btn-lite:focus, .green-btn-lite:focus, .teal-btn-lite:focus, .cyan-btn-lite:focus, .lightBlue-btn-lite:focus, .blue-btn-lite:focus, .indigo-btn-lite:focus, .deepPurple-btn-lite:focus, .purple-btn-lite:focus, .grey-btn-lite:focus, .blueGrey-btn-lite:focus {
    background-color: #F5F5F5; }
  .pink-btn-lite:active, .red-btn-lite:active, .deepOrange-btn-lite:active, .orange-btn-lite:active, .amber-btn-lite:active, .yellow-btn-lite:active, .lime-btn-lite:active, .lightGreen-btn-lite:active, .green-btn-lite:active, .teal-btn-lite:active, .cyan-btn-lite:active, .lightBlue-btn-lite:active, .blue-btn-lite:active, .indigo-btn-lite:active, .deepPurple-btn-lite:active, .purple-btn-lite:active, .grey-btn-lite:active, .blueGrey-btn-lite:active {
    background-color: #EEEEEE; }

.pink-flat, .red-flat, .deepOrange-flat, .orange-flat, .amber-flat, .yellow-flat, .lime-flat, .lightGreen-flat, .green-flat, .teal-flat, .cyan-flat, .lightBlue-flat, .blue-flat, .indigo-flat, .deepPurple-flat, .purple-flat, .grey-flat, .blueGrey-flat {
  background-color: transparent;
  letter-spacing: 0.01em;
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 0 16px;
  min-width: 88px;
  height: 36px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, Noto, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  transition: all .5s ease-out; }
  .pink-flat:hover, .red-flat:hover, .deepOrange-flat:hover, .orange-flat:hover, .amber-flat:hover, .yellow-flat:hover, .lime-flat:hover, .lightGreen-flat:hover, .green-flat:hover, .teal-flat:hover, .cyan-flat:hover, .lightBlue-flat:hover, .blue-flat:hover, .indigo-flat:hover, .deepPurple-flat:hover, .purple-flat:hover, .grey-flat:hover, .blueGrey-flat:hover {
    background-color: rgba(153, 153, 153, 0.2); }
  .pink-flat:focus, .red-flat:focus, .deepOrange-flat:focus, .orange-flat:focus, .amber-flat:focus, .yellow-flat:focus, .lime-flat:focus, .lightGreen-flat:focus, .green-flat:focus, .teal-flat:focus, .cyan-flat:focus, .lightBlue-flat:focus, .blue-flat:focus, .indigo-flat:focus, .deepPurple-flat:focus, .purple-flat:focus, .grey-flat:focus, .blueGrey-flat:focus {
    background-color: rgba(153, 153, 153, 0.2); }
  .pink-flat:active, .red-flat:active, .deepOrange-flat:active, .orange-flat:active, .amber-flat:active, .yellow-flat:active, .lime-flat:active, .lightGreen-flat:active, .green-flat:active, .teal-flat:active, .cyan-flat:active, .lightBlue-flat:active, .blue-flat:active, .indigo-flat:active, .deepPurple-flat:active, .purple-flat:active, .grey-flat:active, .blueGrey-flat:active {
    background-color: rgba(153, 153, 153, 0.4); }

.pink-fab, .red-fab, .deepOrange-fab, .orange-fab, .amber-fab, .yellow-fab, .lime-fab, .lightGreen-fab, .green-fab, .teal-fab, .cyan-fab, .lightBlue-fab, .blue-fab, .indigo-fab, .deepPurple-fab, .purple-fab, .grey-fab, .blueGrey-fab {
  position: fixed;
  right: 0;
  bottom: 0;
  border: none;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  outline: none;
  transition: all .5s ease-out; }
  .pink-fab i, .red-fab i, .deepOrange-fab i, .orange-fab i, .amber-fab i, .yellow-fab i, .lime-fab i, .lightGreen-fab i, .green-fab i, .teal-fab i, .cyan-fab i, .lightBlue-fab i, .blue-fab i, .indigo-fab i, .deepPurple-fab i, .purple-fab i, .grey-fab i, .blueGrey-fab i {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.lite-fab, .lite-miniFab, .pink-miniFab, .red-miniFab, .deepOrange-miniFab, .orange-miniFab, .amber-miniFab, .yellow-miniFab, .lime-miniFab, .lightGreen-miniFab, .green-miniFab, .teal-miniFab, .cyan-miniFab, .lightBlue-miniFab, .blue-miniFab, .indigo-miniFab, .deepPurple-miniFab, .purple-miniFab, .grey-miniFab, .blueGrey-miniFab {
  position: fixed;
  right: 0;
  bottom: 0;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  outline: none;
  transition: all .5s ease-out; }
  .lite-fab i, .lite-miniFab i, .pink-miniFab i, .red-miniFab i, .deepOrange-miniFab i, .orange-miniFab i, .amber-miniFab i, .yellow-miniFab i, .lime-miniFab i, .lightGreen-miniFab i, .green-miniFab i, .teal-miniFab i, .cyan-miniFab i, .lightBlue-miniFab i, .blue-miniFab i, .indigo-miniFab i, .deepPurple-miniFab i, .purple-miniFab i, .grey-miniFab i, .blueGrey-miniFab i {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.pink-btn, .red-btn, .deepOrange-btn, .orange-btn, .amber-btn, .yellow-btn, .lime-btn, .lightGreen-btn, .green-btn, .teal-btn, .cyan-btn, .lightBlue-btn, .blue-btn, .indigo-btn, .deepPurple-btn, .purple-btn, .grey-btn, .blueGrey-btn, .pink-btn-lite, .red-btn-lite, .deepOrange-btn-lite, .orange-btn-lite, .amber-btn-lite, .yellow-btn-lite, .lime-btn-lite, .lightGreen-btn-lite, .green-btn-lite, .teal-btn-lite, .cyan-btn-lite, .lightBlue-btn-lite, .blue-btn-lite, .indigo-btn-lite, .deepPurple-btn-lite, .purple-btn-lite, .grey-btn-lite, .blueGrey-btn-lite {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .pink-btn:hover, .red-btn:hover, .deepOrange-btn:hover, .orange-btn:hover, .amber-btn:hover, .yellow-btn:hover, .lime-btn:hover, .lightGreen-btn:hover, .green-btn:hover, .teal-btn:hover, .cyan-btn:hover, .lightBlue-btn:hover, .blue-btn:hover, .indigo-btn:hover, .deepPurple-btn:hover, .purple-btn:hover, .grey-btn:hover, .blueGrey-btn:hover, .pink-btn-lite:hover, .red-btn-lite:hover, .deepOrange-btn-lite:hover, .orange-btn-lite:hover, .amber-btn-lite:hover, .yellow-btn-lite:hover, .lime-btn-lite:hover, .lightGreen-btn-lite:hover, .green-btn-lite:hover, .teal-btn-lite:hover, .cyan-btn-lite:hover, .lightBlue-btn-lite:hover, .blue-btn-lite:hover, .indigo-btn-lite:hover, .deepPurple-btn-lite:hover, .purple-btn-lite:hover, .grey-btn-lite:hover, .blueGrey-btn-lite:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .pink-btn:focus, .red-btn:focus, .deepOrange-btn:focus, .orange-btn:focus, .amber-btn:focus, .yellow-btn:focus, .lime-btn:focus, .lightGreen-btn:focus, .green-btn:focus, .teal-btn:focus, .cyan-btn:focus, .lightBlue-btn:focus, .blue-btn:focus, .indigo-btn:focus, .deepPurple-btn:focus, .purple-btn:focus, .grey-btn:focus, .blueGrey-btn:focus, .pink-btn-lite:focus, .red-btn-lite:focus, .deepOrange-btn-lite:focus, .orange-btn-lite:focus, .amber-btn-lite:focus, .yellow-btn-lite:focus, .lime-btn-lite:focus, .lightGreen-btn-lite:focus, .green-btn-lite:focus, .teal-btn-lite:focus, .cyan-btn-lite:focus, .lightBlue-btn-lite:focus, .blue-btn-lite:focus, .indigo-btn-lite:focus, .deepPurple-btn-lite:focus, .purple-btn-lite:focus, .grey-btn-lite:focus, .blueGrey-btn-lite:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .pink-btn:active, .red-btn:active, .deepOrange-btn:active, .orange-btn:active, .amber-btn:active, .yellow-btn:active, .lime-btn:active, .lightGreen-btn:active, .green-btn:active, .teal-btn:active, .cyan-btn:active, .lightBlue-btn:active, .blue-btn:active, .indigo-btn:active, .deepPurple-btn:active, .purple-btn:active, .grey-btn:active, .blueGrey-btn:active, .pink-btn-lite:active, .red-btn-lite:active, .deepOrange-btn-lite:active, .orange-btn-lite:active, .amber-btn-lite:active, .yellow-btn-lite:active, .lime-btn-lite:active, .lightGreen-btn-lite:active, .green-btn-lite:active, .teal-btn-lite:active, .cyan-btn-lite:active, .lightBlue-btn-lite:active, .blue-btn-lite:active, .indigo-btn-lite:active, .deepPurple-btn-lite:active, .purple-btn-lite:active, .grey-btn-lite:active, .blueGrey-btn-lite:active {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.lite-fab, .pink-fab, .red-fab, .deepOrange-fab, .orange-fab, .amber-fab, .yellow-fab, .lime-fab, .lightGreen-fab, .green-fab, .teal-fab, .cyan-fab, .lightBlue-fab, .blue-fab, .indigo-fab, .deepPurple-fab, .purple-fab, .grey-fab, .blueGrey-fab, .lite-miniFab, .pink-miniFab, .red-miniFab, .deepOrange-miniFab, .orange-miniFab, .amber-miniFab, .yellow-miniFab, .lime-miniFab, .lightGreen-miniFab, .green-miniFab, .teal-miniFab, .cyan-miniFab, .lightBlue-miniFab, .blue-miniFab, .indigo-miniFab, .deepPurple-miniFab, .purple-miniFab, .grey-miniFab, .blueGrey-miniFab {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .lite-fab:hover, .pink-fab:hover, .red-fab:hover, .deepOrange-fab:hover, .orange-fab:hover, .amber-fab:hover, .yellow-fab:hover, .lime-fab:hover, .lightGreen-fab:hover, .green-fab:hover, .teal-fab:hover, .cyan-fab:hover, .lightBlue-fab:hover, .blue-fab:hover, .indigo-fab:hover, .deepPurple-fab:hover, .purple-fab:hover, .grey-fab:hover, .blueGrey-fab:hover, .lite-miniFab:hover, .pink-miniFab:hover, .red-miniFab:hover, .deepOrange-miniFab:hover, .orange-miniFab:hover, .amber-miniFab:hover, .yellow-miniFab:hover, .lime-miniFab:hover, .lightGreen-miniFab:hover, .green-miniFab:hover, .teal-miniFab:hover, .cyan-miniFab:hover, .lightBlue-miniFab:hover, .blue-miniFab:hover, .indigo-miniFab:hover, .deepPurple-miniFab:hover, .purple-miniFab:hover, .grey-miniFab:hover, .blueGrey-miniFab:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .lite-fab:focus, .pink-fab:focus, .red-fab:focus, .deepOrange-fab:focus, .orange-fab:focus, .amber-fab:focus, .yellow-fab:focus, .lime-fab:focus, .lightGreen-fab:focus, .green-fab:focus, .teal-fab:focus, .cyan-fab:focus, .lightBlue-fab:focus, .blue-fab:focus, .indigo-fab:focus, .deepPurple-fab:focus, .purple-fab:focus, .grey-fab:focus, .blueGrey-fab:focus, .lite-miniFab:focus, .pink-miniFab:focus, .red-miniFab:focus, .deepOrange-miniFab:focus, .orange-miniFab:focus, .amber-miniFab:focus, .yellow-miniFab:focus, .lime-miniFab:focus, .lightGreen-miniFab:focus, .green-miniFab:focus, .teal-miniFab:focus, .cyan-miniFab:focus, .lightBlue-miniFab:focus, .blue-miniFab:focus, .indigo-miniFab:focus, .deepPurple-miniFab:focus, .purple-miniFab:focus, .grey-miniFab:focus, .blueGrey-miniFab:focus {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .lite-fab:active, .pink-fab:active, .red-fab:active, .deepOrange-fab:active, .orange-fab:active, .amber-fab:active, .yellow-fab:active, .lime-fab:active, .lightGreen-fab:active, .green-fab:active, .teal-fab:active, .cyan-fab:active, .lightBlue-fab:active, .blue-fab:active, .indigo-fab:active, .deepPurple-fab:active, .purple-fab:active, .grey-fab:active, .blueGrey-fab:active, .lite-miniFab:active, .pink-miniFab:active, .red-miniFab:active, .deepOrange-miniFab:active, .orange-miniFab:active, .amber-miniFab:active, .yellow-miniFab:active, .lime-miniFab:active, .lightGreen-miniFab:active, .green-miniFab:active, .teal-miniFab:active, .cyan-miniFab:active, .lightBlue-miniFab:active, .blue-miniFab:active, .indigo-miniFab:active, .deepPurple-miniFab:active, .purple-miniFab:active, .grey-miniFab:active, .blueGrey-miniFab:active {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

/* -------------------------------- 

Primary Buttons

-------------------------------- */
.pink-btn {
  color: #fff;
  background-color: #E91E63; }
  .pink-btn:hover {
    background-color: #D81B60; }
  .pink-btn:focus {
    background-color: #D81B60; }
  .pink-btn:active {
    background-color: #C2185B; }

.red-btn {
  color: #fff;
  background-color: #f44336; }
  .red-btn:hover {
    background-color: #e53935; }
  .red-btn:focus {
    background-color: #e53935; }
  .red-btn:active {
    background-color: #d32f2f; }

.deepOrange-btn {
  color: #fff;
  background-color: #FF5722; }
  .deepOrange-btn:hover {
    background-color: #F4511E; }
  .deepOrange-btn:focus {
    background-color: #F4511E; }
  .deepOrange-btn:active {
    background-color: #E64A19; }

.orange-btn {
  color: #fff;
  background-color: #FF9800; }
  .orange-btn:hover {
    background-color: #FB8C00; }
  .orange-btn:focus {
    background-color: #FB8C00; }
  .orange-btn:active {
    background-color: #F57C00; }

.amber-btn {
  color: #fff;
  background-color: #FFC107; }
  .amber-btn:hover {
    background-color: #FFB300; }
  .amber-btn:focus {
    background-color: #FFB300; }
  .amber-btn:active {
    background-color: #FFA000; }

.yellow-btn {
  color: #fff;
  background-color: #FFEB3B; }
  .yellow-btn:hover {
    background-color: #FDD835; }
  .yellow-btn:focus {
    background-color: #FDD835; }
  .yellow-btn:active {
    background-color: #FBC02D; }

.lime-btn {
  color: #fff;
  background-color: #CDDC39; }
  .lime-btn:hover {
    background-color: #C0CA33; }
  .lime-btn:focus {
    background-color: #C0CA33; }
  .lime-btn:active {
    background-color: #AFB42B; }

.lightGreen-btn {
  color: #fff;
  background-color: #8BC34A; }
  .lightGreen-btn:hover {
    background-color: #7CB342; }
  .lightGreen-btn:focus {
    background-color: #7CB342; }
  .lightGreen-btn:active {
    background-color: #689F38; }

.green-btn {
  color: #fff;
  background-color: #4CAF50; }
  .green-btn:hover {
    background-color: #43A047; }
  .green-btn:focus {
    background-color: #43A047; }
  .green-btn:active {
    background-color: #388E3C; }

.teal-btn {
  color: #fff;
  background-color: #009688; }
  .teal-btn:hover {
    background-color: #00897B; }
  .teal-btn:focus {
    background-color: #00897B; }
  .teal-btn:active {
    background-color: #00796B; }

.cyan-btn {
  color: #fff;
  background-color: #00BCD4; }
  .cyan-btn:hover {
    background-color: #00ACC1; }
  .cyan-btn:focus {
    background-color: #00ACC1; }
  .cyan-btn:active {
    background-color: #0097A7; }

.lightBlue-btn {
  color: #fff;
  background-color: #03A9F4; }
  .lightBlue-btn:hover {
    background-color: #039BE5; }
  .lightBlue-btn:focus {
    background-color: #039BE5; }
  .lightBlue-btn:active {
    background-color: #0097A7; }

.blue-btn {
  color: #fff;
  background-color: #2196F3; }
  .blue-btn:hover {
    background-color: #1E88E5; }
  .blue-btn:focus {
    background-color: #1E88E5; }
  .blue-btn:active {
    background-color: #1976D2; }

.indigo-btn {
  color: #fff;
  background-color: #3F51B5; }
  .indigo-btn:hover {
    background-color: #3949AB; }
  .indigo-btn:focus {
    background-color: #3949AB; }
  .indigo-btn:active {
    background-color: #303F9F; }

.deepPurple-btn {
  color: #fff;
  background-color: #673AB7; }
  .deepPurple-btn:hover {
    background-color: #5E35B1; }
  .deepPurple-btn:focus {
    background-color: #5E35B1; }
  .deepPurple-btn:active {
    background-color: #512DA8; }

.purple-btn {
  color: #fff;
  background-color: #9C27B0; }
  .purple-btn:hover {
    background-color: #5E35B1; }
  .purple-btn:focus {
    background-color: #5E35B1; }
  .purple-btn:active {
    background-color: #512DA8; }

.grey-btn {
  color: #fff;
  background-color: #424242; }
  .grey-btn:hover {
    background-color: #212121; }
  .grey-btn:focus {
    background-color: #212121; }
  .grey-btn:active {
    background-color: #212121; }

.blueGrey-btn {
  color: #fff;
  background-color: #607D8B; }
  .blueGrey-btn:hover {
    background-color: #546E7A; }
  .blueGrey-btn:focus {
    background-color: #546E7A; }
  .blueGrey-btn:active {
    background-color: #455A64; }

/* -------------------------------- 

Primary Buttons [ lite ]

-------------------------------- */
.pink-btn-lite {
  color: #E91E63; }

.red-btn-lite {
  color: #f44336; }

.deepOrange-btn-lite {
  color: #FF5722; }

.orange-btn-lite {
  color: #FF9800; }

.amber-btn-lite {
  color: #FFC107; }

.yellow-btn-lite {
  color: #FFEB3B; }

.lime-btn-lite {
  color: #CDDC39; }

.lightGreen-btn-lite {
  color: #8BC34A; }

.green-btn-lite {
  color: #4CAF50; }

.teal-btn-lite {
  color: #009688; }

.cyan-btn-lite {
  color: #00BCD4; }

.lightBlue-btn-lite {
  color: #03A9F4; }

.blue-btn-lite {
  color: #2196F3; }

.indigo-btn-lite {
  color: #3F51B5; }

.deepPurple-btn-lite {
  color: #673AB7; }

.purple-btn-lite {
  color: #9C27B0; }

.grey-btn-lite {
  color: #212121; }

.blueGrey-btn-lite {
  color: #607D8B; }

/* -------------------------------- 

Flat Buttons

-------------------------------- */
.pink-flat {
  color: #E91E63; }

.red-flat {
  color: #f44336; }

.deepOrange-flat {
  color: #FF5722; }

.orange-flat {
  color: #FF9800; }

.amber-flat {
  color: #FFC107; }

.yellow-flat {
  color: #FFEB3B; }

.lime-flat {
  color: #CDDC39; }

.lightGreen-flat {
  color: #8BC34A; }

.green-flat {
  color: #4CAF50; }

.teal-flat {
  color: #009688; }

.cyan-flat {
  color: #00BCD4; }

.lightBlue-flat {
  color: #03A9F4; }

.blue-flat {
  color: #2196F3; }

.indigo-flat {
  color: #3F51B5; }

.deepPurple-flat {
  color: #673AB7; }

.purple-flat {
  color: #9C27B0; }

.grey-flat {
  color: #212121; }

.blueGrey-flat {
  color: #607D8B; }

/* -------------------------------- 

FAB Buttons

-------------------------------- */
.lite-fab {
  background-color: #fff; }
  .lite-fab:hover {
    background-color: #F5F5F5; }
  .lite-fab:focus {
    background-color: #F5F5F5; }
  .lite-fab:active {
    background-color: #EEEEEE; }
  .lite-fab i {
    color: #757575; }

.pink-fab {
  background-color: #E91E63; }
  .pink-fab:hover {
    background-color: #D81B60; }
  .pink-fab:focus {
    background-color: #D81B60; }
  .pink-fab:active {
    background-color: #C2185B; }
  .pink-fab i {
    color: #fff; }

.red-fab {
  background-color: #f44336; }
  .red-fab:hover {
    background-color: #e53935; }
  .red-fab:focus {
    background-color: #e53935; }
  .red-fab:active {
    background-color: #d32f2f; }
  .red-fab i {
    color: #fff; }

.deepOrange-fab {
  background-color: #FF5722; }
  .deepOrange-fab:hover {
    background-color: #F4511E; }
  .deepOrange-fab:focus {
    background-color: #F4511E; }
  .deepOrange-fab:active {
    background-color: #E64A19; }
  .deepOrange-fab i {
    color: #fff; }

.orange-fab {
  background-color: #FF9800; }
  .orange-fab:hover {
    background-color: #FB8C00; }
  .orange-fab:focus {
    background-color: #FB8C00; }
  .orange-fab:active {
    background-color: #F57C00; }
  .orange-fab i {
    color: #fff; }

.amber-fab {
  background-color: #FFC107; }
  .amber-fab:hover {
    background-color: #FFB300; }
  .amber-fab:focus {
    background-color: #FFB300; }
  .amber-fab:active {
    background-color: #FFA000; }
  .amber-fab i {
    color: #fff; }

.yellow-fab {
  background-color: #FFEB3B; }
  .yellow-fab:hover {
    background-color: #FDD835; }
  .yellow-fab:focus {
    background-color: #FDD835; }
  .yellow-fab:active {
    background-color: #FBC02D; }
  .yellow-fab i {
    color: #fff; }

.lime-fab {
  background-color: #CDDC39; }
  .lime-fab:hover {
    background-color: #C0CA33; }
  .lime-fab:focus {
    background-color: #C0CA33; }
  .lime-fab:active {
    background-color: #AFB42B; }
  .lime-fab i {
    color: #fff; }

.lightGreen-fab {
  background-color: #8BC34A; }
  .lightGreen-fab:hover {
    background-color: #7CB342; }
  .lightGreen-fab:focus {
    background-color: #7CB342; }
  .lightGreen-fab:active {
    background-color: #689F38; }
  .lightGreen-fab i {
    color: #fff; }

.green-fab {
  background-color: #4CAF50; }
  .green-fab:hover {
    background-color: #43A047; }
  .green-fab:focus {
    background-color: #43A047; }
  .green-fab:active {
    background-color: #388E3C; }
  .green-fab i {
    color: #fff; }

.teal-fab {
  background-color: #009688; }
  .teal-fab:hover {
    background-color: #00897B; }
  .teal-fab:focus {
    background-color: #00897B; }
  .teal-fab:active {
    background-color: #00796B; }
  .teal-fab i {
    color: #fff; }

.cyan-fab {
  background-color: #00BCD4; }
  .cyan-fab:hover {
    background-color: #00ACC1; }
  .cyan-fab:focus {
    background-color: #00ACC1; }
  .cyan-fab:active {
    background-color: #0097A7; }
  .cyan-fab i {
    color: #fff; }

.lightBlue-fab {
  background-color: #03A9F4; }
  .lightBlue-fab:hover {
    background-color: #039BE5; }
  .lightBlue-fab:focus {
    background-color: #039BE5; }
  .lightBlue-fab:active {
    background-color: #0097A7; }
  .lightBlue-fab i {
    color: #fff; }

.blue-fab {
  background-color: #2196F3; }
  .blue-fab:hover {
    background-color: #1E88E5; }
  .blue-fab:focus {
    background-color: #1E88E5; }
  .blue-fab:active {
    background-color: #1976D2; }
  .blue-fab i {
    color: #fff; }

.indigo-fab {
  background-color: #3F51B5; }
  .indigo-fab:hover {
    background-color: #3949AB; }
  .indigo-fab:focus {
    background-color: #3949AB; }
  .indigo-fab:active {
    background-color: #303F9F; }
  .indigo-fab i {
    color: #fff; }

.deepPurple-fab {
  background-color: #673AB7; }
  .deepPurple-fab:hover {
    background-color: #5E35B1; }
  .deepPurple-fab:focus {
    background-color: #5E35B1; }
  .deepPurple-fab:active {
    background-color: #512DA8; }
  .deepPurple-fab i {
    color: #fff; }

.purple-fab {
  background-color: #9C27B0; }
  .purple-fab:hover {
    background-color: #5E35B1; }
  .purple-fab:focus {
    background-color: #5E35B1; }
  .purple-fab:active {
    background-color: #512DA8; }
  .purple-fab i {
    color: #fff; }

.grey-fab {
  background-color: #424242; }
  .grey-fab:hover {
    background-color: #212121; }
  .grey-fab:focus {
    background-color: #212121; }
  .grey-fab:active {
    background-color: #212121; }
  .grey-fab i {
    color: #fff; }

.blueGrey-fab {
  background-color: #607D8B; }
  .blueGrey-fab:hover {
    background-color: #546E7A; }
  .blueGrey-fab:focus {
    background-color: #546E7A; }
  .blueGrey-fab:active {
    background-color: #455A64; }
  .blueGrey-fab i {
    color: #fff; }

/* -------------------------------- 

mini FAB Buttons

-------------------------------- */
.lite-miniFab {
  background-color: #fff; }
  .lite-miniFab:hover {
    background-color: #F5F5F5; }
  .lite-miniFab:focus {
    background-color: #F5F5F5; }
  .lite-miniFab:active {
    background-color: #EEEEEE; }
  .lite-miniFab i {
    color: #757575; }

.pink-miniFab {
  background-color: #E91E63; }
  .pink-miniFab:hover {
    background-color: #D81B60; }
  .pink-miniFab:focus {
    background-color: #D81B60; }
  .pink-miniFab:active {
    background-color: #C2185B; }
  .pink-miniFab i {
    color: #fff; }

.red-miniFab {
  background-color: #f44336; }
  .red-miniFab:hover {
    background-color: #e53935; }
  .red-miniFab:focus {
    background-color: #e53935; }
  .red-miniFab:active {
    background-color: #d32f2f; }
  .red-miniFab i {
    color: #fff; }

.deepOrange-miniFab {
  background-color: #FF5722; }
  .deepOrange-miniFab:hover {
    background-color: #F4511E; }
  .deepOrange-miniFab:focus {
    background-color: #F4511E; }
  .deepOrange-miniFab:active {
    background-color: #E64A19; }
  .deepOrange-miniFab i {
    color: #fff; }

.orange-miniFab {
  background-color: #FF9800; }
  .orange-miniFab:hover {
    background-color: #FB8C00; }
  .orange-miniFab:focus {
    background-color: #FB8C00; }
  .orange-miniFab:active {
    background-color: #F57C00; }
  .orange-miniFab i {
    color: #fff; }

.amber-miniFab {
  background-color: #FFC107; }
  .amber-miniFab:hover {
    background-color: #FFB300; }
  .amber-miniFab:focus {
    background-color: #FFB300; }
  .amber-miniFab:active {
    background-color: #FFA000; }
  .amber-miniFab i {
    color: #fff; }

.yellow-miniFab {
  background-color: #FFEB3B; }
  .yellow-miniFab:hover {
    background-color: #FDD835; }
  .yellow-miniFab:focus {
    background-color: #FDD835; }
  .yellow-miniFab:active {
    background-color: #FBC02D; }
  .yellow-miniFab i {
    color: #fff; }

.lime-miniFab {
  background-color: #CDDC39; }
  .lime-miniFab:hover {
    background-color: #C0CA33; }
  .lime-miniFab:focus {
    background-color: #C0CA33; }
  .lime-miniFab:active {
    background-color: #AFB42B; }
  .lime-miniFab i {
    color: #fff; }

.lightGreen-miniFab {
  background-color: #8BC34A; }
  .lightGreen-miniFab:hover {
    background-color: #7CB342; }
  .lightGreen-miniFab:focus {
    background-color: #7CB342; }
  .lightGreen-miniFab:active {
    background-color: #689F38; }
  .lightGreen-miniFab i {
    color: #fff; }

.green-miniFab {
  background-color: #4CAF50; }
  .green-miniFab:hover {
    background-color: #43A047; }
  .green-miniFab:focus {
    background-color: #43A047; }
  .green-miniFab:active {
    background-color: #388E3C; }
  .green-miniFab i {
    color: #fff; }

.teal-miniFab {
  background-color: #009688; }
  .teal-miniFab:hover {
    background-color: #00897B; }
  .teal-miniFab:focus {
    background-color: #00897B; }
  .teal-miniFab:active {
    background-color: #00796B; }
  .teal-miniFab i {
    color: #fff; }

.cyan-miniFab {
  background-color: #00BCD4; }
  .cyan-miniFab:hover {
    background-color: #00ACC1; }
  .cyan-miniFab:focus {
    background-color: #00ACC1; }
  .cyan-miniFab:active {
    background-color: #0097A7; }
  .cyan-miniFab i {
    color: #fff; }

.lightBlue-miniFab {
  background-color: #03A9F4; }
  .lightBlue-miniFab:hover {
    background-color: #039BE5; }
  .lightBlue-miniFab:focus {
    background-color: #039BE5; }
  .lightBlue-miniFab:active {
    background-color: #0097A7; }
  .lightBlue-miniFab i {
    color: #fff; }

.blue-miniFab {
  background-color: #2196F3; }
  .blue-miniFab:hover {
    background-color: #1E88E5; }
  .blue-miniFab:focus {
    background-color: #1E88E5; }
  .blue-miniFab:active {
    background-color: #1976D2; }
  .blue-miniFab i {
    color: #fff; }

.indigo-miniFab {
  background-color: #3F51B5; }
  .indigo-miniFab:hover {
    background-color: #3949AB; }
  .indigo-miniFab:focus {
    background-color: #3949AB; }
  .indigo-miniFab:active {
    background-color: #303F9F; }
  .indigo-miniFab i {
    color: #fff; }

.deepPurple-miniFab {
  background-color: #673AB7; }
  .deepPurple-miniFab:hover {
    background-color: #5E35B1; }
  .deepPurple-miniFab:focus {
    background-color: #5E35B1; }
  .deepPurple-miniFab:active {
    background-color: #512DA8; }
  .deepPurple-miniFab i {
    color: #fff; }

.purple-miniFab {
  background-color: #9C27B0; }
  .purple-miniFab:hover {
    background-color: #5E35B1; }
  .purple-miniFab:focus {
    background-color: #5E35B1; }
  .purple-miniFab:active {
    background-color: #512DA8; }
  .purple-miniFab i {
    color: #fff; }

.grey-miniFab {
  background-color: #424242; }
  .grey-miniFab:hover {
    background-color: #212121; }
  .grey-miniFab:focus {
    background-color: #212121; }
  .grey-miniFab:active {
    background-color: #212121; }
  .grey-miniFab i {
    color: #fff; }

.blueGrey-miniFab {
  background-color: #607D8B; }
  .blueGrey-miniFab:hover {
    background-color: #546E7A; }
  .blueGrey-miniFab:focus {
    background-color: #546E7A; }
  .blueGrey-miniFab:active {
    background-color: #455A64; }
  .blueGrey-miniFab i {
    color: #fff; }

/* -------------------------------- 

Disabled Buttons

-------------------------------- */
.disabled-lite {
  letter-spacing: 0.01em;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 0 16px;
  min-width: 88px;
  height: 36px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, Noto, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26); }

.disabled-dark {
  letter-spacing: 0.01em;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 0 16px;
  min-width: 88px;
  height: 36px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, Noto, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.12);
  color: rgba(255, 255, 255, 0.26); }

.disabled-lite-flat {
  letter-spacing: 0.01em;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 0 16px;
  min-width: 88px;
  height: 36px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, Noto, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.26); }

.disabled-dark-flat {
  letter-spacing: 0.01em;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 0 16px;
  min-width: 88px;
  height: 36px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, Noto, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.26); }

/* ----------------------------

temp styles

---------------------------- */
body {
  background: #FAFAFA; }

#buttons {
  position: absolute;
  margin: 0 8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

#fab {
  margin: auto 24px 24px auto;
  z-index: 9999; }

#miniFab-1 {
  margin: auto 32px 96px auto;
  z-index: 9999; }

#miniFab-2 {
  margin: auto 32px 152px auto;
  z-index: 9999; }

#miniFab-3 {
  margin: auto 32px 208px auto;
  z-index: 9999; }

/*# sourceMappingURL=style.css.map */
