// standard colors
$white: #fff;

// material design colors
$pink-500: #E91E63;
$pink-600: #D81B60;
$pink-700: #C2185B;

$red-500: #f44336;
$red-600: #e53935;
$red-700: #d32f2f;

$deepOrange-500: #FF5722;
$deepOrange-600: #F4511E;
$deepOrange-700: #E64A19;

$orange-500: #FFC107;
$orange-600: #FFB300;
$orange-700: #FFA000;

$amber-500: #FFC107;
$amber-600: #FFB300;
$amber-700: #FFA000;

$yellow-500: #FFEB3B;
$yellow-600: #FDD835;
$yellow-700: #FBC02D;

$lime-500: #CDDC39;
$lime-600: #C0CA33;
$lime-700: #AFB42B;

$lightGreen-500: #8BC34A;
$lightGreen-600: #7CB342;
$lightGreen-700: #689F38;

$green-500: #4CAF50;
$green-600: #43A047;
$green-700: #388E3C;

$teal-500: #009688;
$teal-600: #00897B;
$teal-700: #00796B;

$cyan-500: #00BCD4;
$cyan-600: #00ACC1;
$cyan-700: #0097A7;

$lightBlue-500: #03A9F4;
$lightBlue-600: #039BE5;
$lightBlue-700: #0097A7;

$blue-500: #2196F3;
$blue-600: #1E88E5;
$blue-700: #1976D2;

$indigo-500: #3F51B5;
$indigo-600: #3949AB;
$indigo-700: #303F9F;

$deepPurple-500: #673AB7;
$deepPurple-600: #5E35B1;
$deepPurple-700: #512DA8;

$purple-500: #9C27B0;
$purple-600: #5E35B1;
$purple-700: #512DA8;

$grey-500: #424242;
$grey-600: #212121;
$grey-700: #212121;

$blueGrey-500: #607D8B;
$blueGrey-600: #546E7A;
$blueGrey-700: #455A64;
