// antialiasing mode font rendering

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin shadow($level: 1) {
  @if $level == 1 {box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);} 
  @else if $level == 2 {box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
  @else if $level == 3 {box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
  @else if $level == 4 {box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
  @else if $level == 5 {box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);}
}

@mixin primary-btn($text, $color, $hover, $pressed) {
  @extend %button-base;
  @extend %button-shadow;
  color: $text;
  background-color: $color;
  &:hover {
    background-color: $hover;
  }
  &:focus {
    background-color: $hover;
  }
  &:active {
    background-color: $pressed;
  }
}

@mixin lite-btn($text) {
  @extend %lite-base;
  @extend %button-shadow;
  color: $text;
}

@mixin flat-btn($text) {
  @extend %flat-base;
  color: $text;
}

@mixin fab-btn( $color, $hover, $pressed, $text) {
  @extend %fab-base;
  @extend %fab-shadow;
  background-color: $color;
  &:hover {
    background-color: $hover;
  }
  &:focus {
    background-color: $hover;
  }
  &:active {
    background-color: $pressed;
  }
  i {
    color: $text;
  }
}

@mixin miniFab-btn($color, $hover, $pressed, $text) {
  @extend %miniFab-base;
  @extend %fab-shadow;
  background-color: $color;
  &:hover {
    background-color: $hover;
  }
  &:focus {
    background-color: $hover;
  }
  &:active {
    background-color: $pressed;
  }
  i {
    color: $text
  }
}



/* -------------------------------- 

Button Defaults

-------------------------------- */

%button-base {
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 0 16px;
  min-width: 88px;
  height: 36px;
  @include font-smoothing;
  font-family: Roboto, Noto, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  transition: all .5s ease-out;
}

%lite-base {
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 0 16px;
  min-width: 88px;
  height: 36px;
  @include font-smoothing;
  font-family: Roboto, Noto, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  background-color: #fff;
  transition: all .5s ease-out;
  &:hover {
    background-color: #F5F5F5;
  }
  &:focus {
    background-color: #F5F5F5;
  }
  &:active {
    background-color: #EEEEEE;
  }
}

%flat-base {
  background-color: transparent;
  letter-spacing: 0.01em;
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 0 16px;
  min-width: 88px;
  height: 36px;
  @include font-smoothing;
  font-family: Roboto, Noto, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  transition: all .5s ease-out;
  &:hover {
    background-color: rgba(153, 153, 153, 0.20);
  }
  &:focus {
    background-color: rgba(153, 153, 153, 0.20);
  }
  &:active {
    background-color: rgba(153, 153, 153, 0.40);
  }
}

%fab-base {
  position: fixed;
  right: 0;
  bottom: 0;
  border: none;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  outline: none;
  transition: all .5s ease-out;
  i {
    @include font-smoothing;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
  }
}

%miniFab-base {
  position: fixed;
  right: 0;
  bottom: 0;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  outline: none;
  transition: all .5s ease-out;
  i {
    @include font-smoothing;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
  }
}

%button-shadow {
  @include shadow(1);
  &:hover {
    @include shadow(2);
  }
  &:focus {
    @include shadow(2);
  }
  &:active {
    @include shadow(3);
  }
}

%fab-shadow {
  @include shadow(2);
  &:hover {
    @include shadow(3);
  }
  &:focus {
    @include shadow(3);
  }
  &:active {
    @include shadow(4);
  }
}

%disabled-lite {
  letter-spacing: 0.01em;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 0 16px;
  min-width: 88px;
  height: 36px;
  @include font-smoothing;
  font-family: Roboto, Noto, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
}

%disabled-dark {
  letter-spacing: 0.01em;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 0 16px;
  min-width: 88px;
  height: 36px;
  @include font-smoothing;
  font-family: Roboto, Noto, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.12);
  color: rgba(255, 255, 255, 0.26);
}

%disabled-light-flat {
  letter-spacing: 0.01em;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 0 16px;
  min-width: 88px;
  height: 36px;
  @include font-smoothing;
  font-family: Roboto, Noto, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.26);
}

%disabled-dark-flat {
  letter-spacing: 0.01em;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 0 16px;
  min-width: 88px;
  height: 36px;
  @include font-smoothing;
  font-family: Roboto, Noto, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.26);
}
